@model LibraryMVC.Models.LibraryBook

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LibraryBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN"  class="control-label"></label>
                <input asp-for="ISBN" list="languages" />
                <datalist id="languages" asp-items="ViewBag.ISBN"></datalist>
            </div>
            <div class="form-group">
                <label asp-for="LibraryId" class="control-label"></label>
                <select asp-for="LibraryId" class ="form-control" asp-items="ViewBag.LibraryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cabinet" class="control-label"></label>
                <input asp-for="Cabinet" class="form-control" />
                <span asp-validation-for="Cabinet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shelf" class="control-label"></label>
                <input asp-for="Shelf" class="form-control" />
                <span asp-validation-for="Shelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
